<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>controllers.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectionController</servlet-name>
        <servlet-class>controllers.SectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicController</servlet-name>
        <servlet-class>controllers.TopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorController</servlet-name>
        <servlet-class>controllers.AuthorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizController</servlet-name>
        <servlet-class>controllers.QuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerController</servlet-name>
        <servlet-class>controllers.AnswerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/StudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectionController</servlet-name>
        <url-pattern>/SectionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicController</servlet-name>
        <url-pattern>/TopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorController</servlet-name>
        <url-pattern>/AuthorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizController</servlet-name>
        <url-pattern>/QuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerController</servlet-name>
        <url-pattern>/AnswerController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginAdmin.jsp</welcome-file>

    </welcome-file-list>
</web-app>
