html,
body {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
}

header {
    flex: 0 1 auto;
}

main {
    overflow: hidden;
    flex: 1 1 auto;
}

ul.single-select {
    list-style: none;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 500px;
    max-width: 100%;
    aspect-ratio: auto 500/252;
}

.list-quiz ul {
    padding: 0;
    margin: 0;
}

.draggable {
    /* Indicate the element draggable */
    cursor: move;

    /* It will be positioned absolutely */
    position: absolute;

    /* Doesn't allow to select the content inside */
    user-select: none;
}

.container {
    display: flex;
    /* Misc */
    height: 100%;
    min-width: 100%;
}

.container__left {
    width: 50%;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 100px;
}

.resizer {
    background-color: #2b7fd8;
    cursor: e-resize;
    height: 100%;
    width: 2px;
}

.button-resize {
    position: relative;
    background-color: rgb(135, 175, 62);
    top: 50%;
    right: 18px;
    height: 30px;
    width: 40px;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 #000;
    border-radius: 50px;
}

.container__right {
    /* Take the remaining width */
    flex: 1;
    /* Misc */
    align-items: center;
    display: block;
    justify-content: center;
    height: 100%;
    background-color: #1e1f26;
    min-width: 100px;
    position: relative;
    overflow: scroll;
}

.lesson {
    overflow: auto;
    padding: 10px 10px 10px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    height: 97.6%;
}

.lesson-content {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.submit__style {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    font-size: 1em;
    background: none;
    border: solid 1px grey;
    font-weight: 700;
    border-radius: 5px;
}

input[type="submit"].submit__style:hover {
    background-color: burlywood;
}

.quiz-container .quiz-list {
    margin: 10px 11px 50px 23px;
    width: 100%;
}

.right-header {
    height: 7.5%;
    background-color: rgb(35, 36, 50);
    padding: 0 10px;
}

.reset-menu {
    min-height: 40px;
    padding-left: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.reset-button {
    color: #fff;
    cursor: pointer;
    background-color: #3b3c54;
    border-radius: 3px;
    padding: 5px 10px;
    position: relative;
    margin-left: auto;
    user-select: none;
}

.reset-button:hover {
    background-color: #2c3cb9;
    color: #fff;
}

.answer {
    overflow: hidden;
    height: 85%;
    position: relative;
}

.answer-input {
    display: flex;
    vertical-align: middle;
    overflow-x: hidden;
    overflow-y: auto;
}

.answer-list {
    margin: 10px;
    width: 100%;
}

.answer-select {
    background-color: #fff;
    padding: 30px 40px 20px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}



.answer-content {
    position: relative;
    display: block;
    user-select: none;
    float: left;
    margin: auto 30px auto 0;
}
.answer-select h4{
    font-size: 24px;
   margin-top: 5px;
   margin-bottom: 10px;
}
.answer-content__input {
    font-size: 1em;
    width: 40vw;
}
.answer__select__new{
    padding-top: 10px;
    height: 150px;
}
.btn__editCourse button {
    font-size: 1em;
  
    margin-top: 5px;
    margin-right: 30px;
    position: relative;
    display: block;
    background: none;
    border: solid 1px grey;
    font-weight: 700;
    border-radius: 5px;
}

.btn__editCourse button:hover {
    background-color: burlywood;
}


.right-footer {
    height: 7.5%;
    background-color: rgb(35, 36, 50);
    padding: 0 10px;
    position: relative;
}

.submit-menu {
    min-height: 45px;
    padding-left: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.previous-button {
    color: #fff;
    cursor: pointer;
    background-color: #bb810e;
    border-radius: 3px;
    padding: 5px 10px;
    position: relative;
    margin-left: 5px;
    user-select: none;
}

.previous-button:hover {
    background-color: rgb(20, 104, 40);
    color: #fff;
}

.next-button {
    color: #fff;
    cursor: pointer;
    background-color: #bb810e;
    border-radius: 3px;
    padding: 5px 10px;
    position: relative;
    margin-left: 5px;
    user-select: none;
}

.next-button:hover {
    background-color: rgb(20, 104, 40);
    color: #fff;
}

.submit-button {
    color: #fff;
    cursor: pointer;
    background-color: #bb810e;
    border-radius: 3px;
    padding: 5px 10px;
    position: relative;
    margin-left: auto;
    user-select: none;
}

.submit-button:hover {
    background-color: rgb(20, 104, 40);
    color: #fff;
}

.required-login-study {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 30px;
}