/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* ===== Sidebar ===== */
 .sidebar{
    background-color: #B6E4FF;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    color: black;
    z-index: 100;  
    width: 65px;
}
/* ===== Reusable code - Here ===== */
.menu-links{
    padding-left: 0px !important;
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.sidebar .text,
.sidebar .icon{
    color: black;
    transition: all 0.2s ease;
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    margin-left: 0;
}
.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
    margin-left: 0;
}
.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.2s ease;
}


.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    font-weight: 700;
    color: #0044B4;
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}




